* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.data-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.data-table {
  border: 1px solid black;
  padding: 2rem;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.data-title {
  font-size: 1.4rem;
}
td {
  width: 150px;
  padding: 0.2rem;
  text-align: center;
}
th {
  padding: 0.2rem;
  text-align: center;
}
td:nth-child(even),
th:nth-child(even) {
  background-color: #fff6da;
}
.data-data {
  font-size: 1.2rem;
}
.data-moreinfo {
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: white;
}
.data-moreinfo:hover {
  cursor: pointer;
  background-color: #ebb84c;
  box-shadow: 0 2px #5a5456;
  transform: translateY(4px);
}
.data-moreinfo:focus {
  opacity: 0.9;
}

body.modal-open {
  overflow: visible;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}

.modal-content {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  overflow-y: auto;
  min-height: calc(30vh - 30px);
  border: 1px solid black;
}

.modal-backdrop {
  opacity: 0.2;
}

.close {
  display: flex;
  justify-content: flex-start;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: rgba(114, 112, 112, 0.5);
}
.close:hover {
  cursor: pointer;
}
